<body>

	<div class="container">

		<div class="row d-flex align-items-lg-center">

			<div class="col-md-6 d-flex justify-content-center" id="img-bg"></div>

			<div class="col-md-6 bg-white" id="border">

				<form method="post">


					<h1>Fale conosco</h1>


					<div class="formgroup" id="name-form">
						<label for="name">Seu nome*</label>
						<input type="text" id="name" name="name" />
					</div>

					<div class="formgroup" id="email-form">
						<label for="email">Seu email*</label>
						<input type="email" id="email" name="email" />
					</div>

					<div class="formgroup" id="message-form">
						<label for="message">Sua mensagem</label>
						<textarea id="message" name="message"></textarea>
					</div>

					<a class="text-center"
						href="mailto:furandoabolha2021@gmail.com?Subject=Sugestões,%20Denuncias,%20Reclamação">Enviar
						email</a>
					<input type="reset" value="Cancelar" [routerLink]="['/inicio']">
				</form>

			</div>


			<body>