<div class="container">
    <main>

<div class="card-block-two">
    <div class="card card-three">
      <div class="profile-content">
        <div class="profile-top">
          <div class="codepen-profile"><a href="https://codepen.io/nerdyvisky" target="_blank"><img src="https://docs.google.com/uc?id=1K86A4sXvrMFklcOPGMFHyFLAkx5sXf9m" alt=""></a></div>
          <div class="profile-image"><img src="https://docs.google.com/uc?id=1y3cbQM0ZtsQ2149XkxBo6EOcsIYF35aV" alt="" /></div>
          <div class="github-profile"><a href="https://github.com/NerdyVisky" target="_blank"><img src="https://docs.google.com/uc?id=1UjB09FirJV6p0dkCMFQEjGxIV8JUisYu" alt=""></a></div>
        </div>
        <div class="profile-title">
            <h1>Vishvesh Trivedi</h1>
            <h4>Web Developer</h4>
        </div>
        <div class="profile-bottom">
          <p>
          "As a matter of fact, you miss 100% of the shots you don't take. <br>So don't think much, just go for it!"
          </p>
          <a href="https://github.com/NerdyVisky/NerdyVisky/blob/main/Vishvesh%20Trivedi%20-%20Resume.pdf" target="_blank" class="full-profile-link">View Resume</a>
        </div>
      </div>
    </div>
  </div>

</main>
</div>