@import url("https://fonts.googleapis.com/css2?family=Cardo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --title-font: "Lato", monospace;
  --content-font: "Montserrat", monospace;
}

.card-block-two {
  background-color: var(--body-bg-color);/*VERIFICAFR COR DE FUNDO*/
  min-height: 100vh;
  display: flex;
  align-items: center;
  
  flex-wrap: wrap;
}

.card-block-two .card {
  width: 30%;
  max-width: 320px;
  min-width: 320px;
  transform: scale(0.75);
  height: 550px;
  margin: 30px;
  border-radius: 15px;
  overflow: hidden;
  padding: 2em;
  background-color: #fff;
  position: relative;
  box-shadow: 0px 0px 20px rgb(104, 104, 104);
}

.profile-content {
  width: 100%;
  height: 100%;
}

/*POSIÇÃO DA FOTOANTES DO HOVER*/
.profile-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0.5em;
}

/*MUDA O CURSOR + TAMANHO DOS BOTÕES*/
.linkedin-profile,
.github-profile {
  width: 35px;
  cursor: pointer;
}

/*TAMANHO DAS IMAGENS*/
.linkedin-profile img,
.github-profile img {
  width: 35px;
}

.profile-image {
  width: 150px;
}

/*FORMATAÇÃO IMAGEM EM CIRUCLO*/
.profile-image img {
  width: 150px;
  border-radius: 50%;
}

/*CONFIG NOME/JOB CENTRO*/
.profile-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
}

/*FORMATAÇÃO NOME*/
.profile-title h1 {
  font-family: var(--title-font);
  margin-bottom: 0.005rem;
  text-align: center;
}

/*FORMATAÇÃO RESUME*/
.profile-bottom p::before {
  content: open-quote;
  font-size: 1em;
  color: rgb(211, 211, 211);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}

/*formatação job*/
.profile-title h4 {
  font-family: var(--title-font);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.9em;
}

/*BREGUETE VERMELHO */
.profile-title::after {
  content: "";
  width: 25%;
  height: 0.3em;
  margin-top: 10px;
  border-radius: 50px;
  background: rgb(199, 0, 0);
}

/*FORMATAÇÃO RESUME*/
.profile-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: grey; */
}

/*FORMATAÇÃO <p>*/
.profile-bottom p {
  text-align: center;
  font-family: var(--content-font);
  font-weight: 600;
  padding: 0.5em;
  margin-bottom: 1em;
}

/*FORMATAÇÃO LINK- RESUME*/
.profile-bottom .full-profile-link {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: var(--title-font);
  font-weight: 800;
}

/*ESCONDE OS ICONES GIT E CODE PEN*/
  .linkedin-profile,
  .github-profile {
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s linear, transform 0.3s linear;
  }

/*HOVERS GIT E CODEPEN*/
.linkedin-profile:hover img {
    transform: scale(1.2);
    transition: transform 0.2s linear;
  }
  .github-profile:hover img {
    transform: scale(1.2);
    transition: transform 0.2s linear;
  }

/*TAMANHO DA IMAGEM 'DEPOIS' DO HOVER*/
  .profile-image {
    transform: scale(1.5) translateY(20%);
    transition: transform 0.3s linear;
  }

/*TAMANHO DO NOME 'DEPOIS' DO HOVER*/
  .profile-title {
    transform: scale(1.2) translateY(100%);
    transition: transform 0.3s linear;
  }
/*ESCONDE BREGUETE VERMELHO ANTES DO HOVER*/
  .profile-title::after {
    transform: scale(0);
    transition: transform 0.3s linear;
  }
/*TEXTO DE TRÁS TRANSPARENTE*/
  .profile-bottom {
    opacity: 0;
  }

/*DESAPARECE ICONES DO GIT E CODEPEN*/
  .card-three:hover .linkedin-profile,
  .card-three:hover .github-profile {
    opacity: 1;
    transform: scale(1);
  }

/*LUGAR DO HOVER GIT E CODE*/
  .card-three:hover .profile-image,
  .card-three:hover .profile-title {
    transform: scale(1) translateY(0);
  }

/*SOME BREGUETE VERMELHO*/
  .card-three:hover .profile-title::after {
    transform: scale(1);
  }
/*SOME PARTE DEBAIXO*/
  .card-three:hover .profile-bottom {
    opacity: 1;
    transition: opacity 0.3s linear 0.1s;
  }

/*RESUME VERMELHO - HOVER*/
  .full-profile-link:hover {
    color: rgb(199, 0, 0);
  }

.hr{
  
}