<body class="mb-5">
    

<div class="">

    <!-- SERVIRÁ PARA ALGUMA COISA??
        <div id="avatar">
    svg boneco(colocar as fotos??) 
    </div>  

    translate(-160px, -160px)
-->

    <!-- Dentro da div main: 
        -criar a parte do js(perfil de cada um)-->

    <main class="mb-5" >
        
            <h1>Our Team</h1>
            <div id="main  ">
<!--  -->
            <div class="row  mx-0 margem">
                <!-- <div class="col-md-4 fa-align-center p-0 "> -->
                <div class="col-md-1 col-md-4">
                    <div class="profile-card "> 
                        <div class="profile-card-image profile-card-descripition-elements"> 
                            <img  src="https://i.imgur.com/874bbs8.jpg" alt="Kermit" class="img profile-card-image"> <!-- TROCAR FOTO E DESCRIÇÃO -->
                        </div>
                            <div class="profile-card-description"> 
                                
                                <div class="profile-card-descripition-elements">
                                    <h2 >ugugugugugu</h2>
                                    <label for="" class="profile-card-description-elements">job description</label>
                                    <hr>
                                    <p class="profile-card-description-elements">texto bonitinho</p>
                                    <p class="profile-card-description-elements">texto bonitinho</p>
                                </div>
                            </div>
                        
                    </div>
                </div>

                <!-- <div class="col-md-4 p-0"> -->
                <div class="col-md-1 col-md-4">    
                    <div class="profile-card "> 
                        <div class="profile-card-image "> 
                            <img  src="https://i.imgur.com/and0KrQ.jpg" alt="Kermit" class="img"> 
                        </div>

                            <div class="profile-card-description"> 
                                <div class="profile-card-descripition-elements">
                                    <h2>ugugugugugu</h2>
                                    <label for="">job description</label>
                                    <hr>
                                    <p>texto bonitinho</p>
                                    <p>texto bonitinho</p>
                                </div>
                            </div>
                        
                    </div>
                </div>

                <div class="col-md-1 col-md-4">
                    <div class="profile-card "> <!-- COLOCAR ID EM CADA UM?? -->
                        <div class="profile-card-image"> 
                            <img  src="https://i.imgur.com/HoOA3AK.jpg" alt="Kermit" class="img"> <!-- TROCAR FOTO E DESCRIÇÃO -->
                        </div>

                            <div class="profile-card-description"> 
                                <div class="profile-card-descripition-elements">
                                    <h2>ugugugugugu</h2>
                                    <label for="">job description</label>
                                    <hr>
                                    <p>texto bonitinho</p>
                                    <p>texto bonitinho</p>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>

            <div class="row mx-0 margem">
                    <div class="col-md-1 col-md-4">
                        <div class="profile-card "> <!-- COLOCAR ID EM CADA UM?? -->
                        <div class="profile-card-image"> 
                            <img  src="https://i.imgur.com/Ej5QeY3.jpg" alt="Kermit" class="img"> <!-- TROCAR FOTO E DESCRIÇÃO -->
                        </div>
                            <div class="profile-card-description"> 
                                <div class="profile-card-descripition-elements">
                                    <h2>ugugugugugu</h2>
                                    <label for="">job description</label>
                                    <hr>
                                    <p>texto bonitinho</p>
                                    <p>texto bonitinho</p>
                                </div>
                            </div>
                        
                    </div>
                </div>

                <div class="col-md-1 col-md-4">
                    <div class="profile-card "> <!-- COLOCAR ID EM CADA UM?? -->
                        <div class="profile-card-image"> 
                            <img  src="https://i.imgur.com/TOjLNg0.jpg" alt="Kermit" class="img"> <!-- TROCAR FOTO E DESCRIÇÃO -->
                        </div>

                            <div class="profile-card-description"> 
                                <div class="profile-card-descripition-elements">
                                    <h2>ugugugugugu</h2>
                                    <label for="">job description</label>
                                    <hr>
                                    <p>texto bonitinho</p>
                                    <p>texto bonitinho</p>
                                </div>
                            </div>
                        
                    </div>
                </div>

                <div class="col-md-1 col-md-4">
                    <div class="profile-card "> <!-- COLOCAR ID EM CADA UM?? -->
                        <div class="profile-card-image ">
                            <img  src="https://i.imgur.com/oze948G.jpg" alt="Kermit" class="img"> <!-- TROCAR FOTO E DESCRIÇÃO -->
                        </div>

                            <div class="profile-card-description"> 
                                <div class="profile-card-descripition-elements">
                                    <h2>ugugugugugu</h2>
                                    <label for="">job description</label>
                                    <hr>
                                    <p>texto bonitinho</p>
                                    <p>texto bonitinho</p>
                                </div>
                            </div>
                        
                    </div>
                </div>

                
                </div>
                
            </div>
        
    
    </main> 

</div>

</body>